services:
  nepsehonoapi-dev:
    build:
      context: ../..
      dockerfile: apps/server/Dockerfile
    env_file:
      - .env
    ports:
      - "3001:3000"
    restart: unless-stopped
    container_name: nepse-dashboard-dev